:host {
    flex: 1;
}

.work-bg {
    background-image: url('../../assets/img/mtn-sunset-02-bg.jpg');
    background-position: center bottom;
}

.screen-white-md {
    background-color: rgba(0,0,255,0.2);
    align-items: flex-start;
}

//experiment with css-grid.  if works, move to main style and make responsive
.container {
    margin: 0px auto;
    padding: 0 1em 0 1em;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
}

.col-xs-12 {
    grid-column: span 12;
}

.col-sm-3 {
    grid-column: span 3;
}
.col-sm-4 {
    grid-column: span 4;
}
.col-sm-5 {
    grid-column: span 5;
}
.col-sm-6 {
    grid-column: span 6;
}
.col-sm-7 {
    grid-column: span 7;
}
.col-sm-8 {
    grid-column: span 8;
}
.col-sm-9 {
    grid-column: span 9;
}


.img-flow {
    padding: 16px;
    margin: 0 16px 0 16px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.caption {
    font-size: 0.75em;
    font-style: italic;
    margin-top: 12px;
}

.about {
    padding: 3px 1em 3px 1em;
    margin: 3em 0 3em 0;

    .about-p:not(:last-child) {
        margin-bottom: 2em;
    }
}