<h1 class="sub-screen-bg work-bg">
    <div class="screen-white-md">
    <div id="header-two-text">
        <div [@fader-from-left]="true">About Me</div>
        <small class="subheader subheader-light" [@fader-delay-from-left]="true">Thoughts and Ramblings</small>
    </div>
    </div>
</h1>
<div class="text-wrapper about">
  <div class="about-p row">
    <div class="col-sm-7 col-xs-12">
      I started writing code like many people do- as a side project.  I was working customer service and a client had a website that needed some minor updates.  It was a “Dreamweaver site”, they told me.  I had no idea what that meant, but I nodded my head and took the job.  After a couple days trying to figure out how to reliably drag margins to an exact width in Dreamweaver, I found the “source code” view and was hooked.  These funny symbols and brackets and commands could make the site do just about anything I wanted!
    </div>
    <div class="img-flow col-sm-5 col-xs-12">
      <code [innerHTML]="firstjQuerySnippet"></code>
      <div class="caption">
        One of the first bits of production code I ever wrote (circa 2014).  Should have been as simple as putting the "autofocus" attribute on our login form's username field.  IE8 had other ideas.
      </div>
    </div>
  </div>

  <div class="about-p">
      Eventually, I learned enough to take on a junior developer role at the same company I was working customer service- squashing bugs and implementing minor upgrades to a PHP/MySQL based content management system.  It also involved a good deal of Javascript/jQuery/CSS- I was working on both ends of the project and really liking the different aspects of each.  There was the relatively no-nonsense allure of the backend- save the data properly, then return that data to your frontend when it’s requested.  Do some validation and security checking.  Then there was the Wild West environment of the frontend, where Javascript was a slighly unreliable town Mayor- telling IE8 the secret password is "attachEvent" while telling everyone else it's "addEventListener".  Then, sherrif jQuery rode into town and started cleaning up his mess ("Mr. Mayor- just use .on() as your password!").  It was all interesting and frustrating and provided endless opportunities to expand my skill set.
  </div>

  <div class="about-p row">
    <div class="img-flow col-sm-5 col-xs-12">
      <code [innerText]="badCodeSnippet"></code>
      <div class="caption">
        This is a simple example of my manually encoded JSON returned by PHP.  A tangled forest of single quotes and double quotes and brackets- and this is just to return a couple variables from the database.
      </div>
    </div>
    <div class="col-sm-7 col-xs-12">
      There were some tough parts.  Trying to implement a rudimentary JSON return structure in PHP4 (no native json_encode() or json_decode() in early versions) when we added a pseudo single page app feature to our product was tricky.  Doing AJAX-based real time validation (not super difficult) on a client created form where you would not know the contents of the HTML when writing your validation code (a bit trickier).  However, each time I found the answer was a great boost, and made me hungry to find a better solution to the next problem- or go back and refactor my original answer.
    </div>
  </div>

  <div class="about-p">
    Lately, I’ve been working with some more modern frameworks- namely Angular (<a href="http://angularjs.blogspot.com/2016/12/ok-let-me-explain-its-going-to-be.html" target="_blank">
        remember, it’s just Angular now
      </a>) and .NET core, but I still love the basics.  Knowing Javascript well really helps when working with a latest-and-greatest framework like Angular or React.  The framework takes care of a lot of the tough parts, but sometimes you need to know how it’s all working to make it do exactly what you want.  And getting to know the strict landscape of a typed language like C# has also been quite fun.  It’s an interesting contrast to the ‘anything goes’ approach of Javascript- 2 ways to get to the same end product: a really cool online experience for your customers!
  </div>

  <div class="about-p">
    Current programming obsessions include: Single Page Applications, Typescript, D3.js, finding the best/most efficient answer- not just the first answer that works, and the readability and extensibility of my code.
  </div>

  <div class="about-p">
    Want to learn more?  Check out my <a href="https://github.com/j2d2development">GitHub repos</a>, My experiments on <a href="http://codepen.io/joedriscoll79">CodePen</a>, or my <a href="https://j2d2development.wordpress.com/">blog</a> (warning: extreme tangents occur regularly).  Looking for more traditional info?  My resume is available to view as a <a href="../assets/files/resume.pdf">PDF</a>, or as a <a href="https://docs.google.com/document/d/1h-OIHzucD18G4yQyBu6ltvGgDOYYcuJygEUB40VkCHQ/edit?usp=sharing">Google Doc</a>.
  </div>

  <div class="about-p">
    Questions?  <a routerLink="/contact">Contact me!</a>
  </div>
</div>