<h1 class="sub-screen-bg projects-bg">
  <div class="screen-white-md">
    <div id="header-two-text">
      Make it fast - Make it work - Make it better
      <small class="subheader subheader-light">Prototyping and Proof of Concepts in CodePen</small>
    </div>
  </div>
</h1>

<div class="featured">
    <div class="featured-col" id="featured-col-one--left">
    <h2>
        <i class="fa fa-user" aria-hidden="true"></i>
        UI and JS
        <small>User Profile Slideout</small>
    </h2>

    <div class="featured-col--text">
        A quick and dirty initial prototype for a new user profile edit slidout feature. I liked the "double slideout" effect achieved with different animation timing settings.
    </div>
    <div class="primary-color--link--wrapper">
          <a class="primary-color--link" href="http://codepen.io/joedriscoll79/pen/xqRzdd" target="_blank">Learn More</a>
    </div>
    </div>
    <div class="featured-col" id="featured-col-one--center">
    <h2>
        <i class="fa fa-twitch" aria-hidden="true"></i>
        Angular 1.5
        <small>Twitch User Viewer</small>
    </h2>
    <div class="featured-col--text">
        I found <a href="http://www.freecodecamp.com">FreeCodeCamp</a> to be a great resource for projects to practice the latest web development processes and techniques. This one uses Angular and custom css to allow the user to view different profiles
        and previews.
    </div>
    <div class="primary-color--link--wrapper">
        <a class="primary-color--link" href="http://codepen.io/joedriscoll79/pen/BKJQNa" target="_blank">Learn More</a>
    </div>
    </div>
    <div class="featured-col" id="featured-col-one--right">
    <h2>
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        Vanilla JS
        <small>Slider with indicators</small>
    </h2>
    <div class="featured-col--text">
        A client wanted a sliding banner to welcome new residents. It was a fresh project, so used just JS/CSS to mock up an option. No controls, though they were added to a different version in production (warning: crazy colors for demo purposes only!).
    </div>
    <div class="primary-color--link--wrapper">
        <a class="primary-color--link" href="http://codepen.io/joedriscoll79/pen/BzrbaY" target="_blank">Learn More</a>
    </div>
    </div>
</div>