<h1 class="sub-screen-bg contact-bg">
    <div class="screen-white-md">
    <div id="header-two-text">
        Contact Me
        <small class="subheader subheader-light">
          Want to work together? Get in touch!
        </small>
    </div>
    </div>
</h1>

<div class="contact">
    <div>
      <form>
        <input type="text" placeholder="Your Name" />
        <input type="text" placeholder="Your Email" />
        <textarea placeholder="What's on your mind?"></textarea>
      </form>
    </div>
    <div>
      joedriscoll79<i class="fa fa-at" aria-hidden="true"></i>gmail.com
    </div>
</div>
