:host {
    flex: 1;
}
.contact-bg {
  background-image: url('../../assets/img/contact-phones-bg.jpg');
  background-position: center center;
}
.screen-white-md {
    align-items: center;
    background-color: rgba(0, 0, 255, 0.5);
}
form {
    min-width: 100%;
}
.contact {
    display: flex;
    justify-content: space-around;
    padding: 3em 3em 3em 1em;
    text-align: center;

    .contact-main {
        width: 65%;
        min-width: 65%;
    }

    .contact-side {
        display: flex;
        justify-content: space-between;

        .input-group {
            position: relative;
            width: 90%;
            min-width: 250px;
            margin-bottom: 1em;
        }

        input, textarea {
            width: 90%;
            font-size: 1.5em;
            color: #333;
            transition: border 0.3s ease-in-out;
        }

        input[type=text] {
            border: 0;
            border-bottom: 1px solid #aaa;
            padding: 16px 16px 0 16px;
        }
        input[type=text]:focus {
            outline: 0;
            border-bottom: 1px solid #333;
        }
        
        textarea {
            border: 1px solid #aaa;
            padding: 16px;
            font-family: inherit;
        }
        textarea:focus {
            outline: 0;
            border: 1px solid #333;
        }

        .button-group {
            margin-left: 5%;
            display: flex;
        }

        button {
            min-width: 75px;
            margin: 0 1em 0 0;
            cursor: pointer;
            border-radius: 3px;
            font-size: 1.1em;
        }
        button:focus {
            outline: 0;
        }
    }

    .contact-minor {
        flex-direction: column;
        justify-content: flex-start;
    }
}