<h1 class="sub-screen-bg contact-bg">
    <div class="screen-white-md">
    <div id="header-two-text">
        Contact Me
        <small class="subheader subheader-light">
          Want to work together? Get in touch!
        </small>
    </div>
    </div>
</h1>

<div class="contact">
    <div class="contact-side contact-main">
      <form>
        <input type="text" placeholder="Your Name" />
        <input type="text" placeholder="Your Email" />
        <textarea placeholder="What's on your mind?"></textarea>
        <div class="button-group">
          <button type="submit" class="primary-color--link">Submit</button>
          <button type="button" class="warning-color--link">Clear</button>
        </div>
      </form>
    </div>
    <div class="contact-side contact-minor">
        <div style="margin-bottom: 1.5em;">
          Prefer old school email contact?<br />
          You can find me at: joedriscoll79<i class="fa fa-at" aria-hidden="true"></i>gmail.com
        </div>
        <div class="muted text-left">
          I've seen multiple ways people try to hide their email from spam bots on a contact page.  Spaces in the address, using 'at' written out instead of the '@' symbol, providing the text in sanskrit (ok, not that last one).<br />
          <br />
          My idea?  Use Font-Awesome's '@' icon.  As a result, you may not be able to copy/paste the email above- you might have to let your fingers do the walking (type it out like a primate).<br />
          <br />
          Will it work to defeat the nefarious spam robot army?  Time will tell...
        </div>
    </div>
</div>
