<header class="header">
    <div class="header--wrapper">
        <div class="logo-left">
            <a routerLink="/">
                <img src="./assets/img/j2d2-logo-md.png" alt="Logo" />
                <span class="mobile-hide">J2D2 Development</span>
            </a>
        </div>
        <ul class="mobile-hide">
            <li>
                <a routerLink="/about" routerLinkActive="active">
                    About
                </a>
            </li>
            <li>
                <a routerLink="/projects" routerLinkActive="active">
                    Projects
                </a>
            </li>
            <li>
                <a routerLink="/cases" routerLinkActive="active">
                    Case Studies
                </a>
            </li>
            <li>
                <a href="https://j2d2development.wordpress.com/" target="_blank">
                    Blog
                </a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active">
                    Contact
                </a>
            </li>
        </ul>

        <div class="mobile-menu-wrapper">
            <i id="menu-show" class="fa fa-2x fa-bars mobile-show-flex" aria-hidden="true" (click)="toggleMenu()"></i>
            <ul class="mobile-menu {{menuIsOpen ? 'mobile-menu-show' : 'mobile-menu-hide'}}">
                <li>
                    <a (click)="toggleMenu()">
                        <i class="fa fa-2x fa-times" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a routerLink="/" (click)="toggleMenu()">
                        Home
                    </a>
                </li>
                <li>
                    <a routerLink="/about"(click)="toggleMenu()">
                        About
                    </a>
                </li>
                <li>
                    <a routerLink="/projects" (click)="toggleMenu()">
                        Projects
                    </a>
                </li>
                <li>
                    <a routerLink="/cases" (click)="toggleMenu()">
                        Case Studies
                    </a>
                </li>
                <li>
                    <a href="https://j2d2development.wordpress.com/" target="_blank" (click)="toggleMenu()">
                        Blog
                    </a>
                </li>
                <li>
                    <a routerLink="/contact" (click)="toggleMenu()">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<router-outlet (activate)="generalService.scrollToTop()"></router-outlet>
<footer class="footer-dark">
    <div class="footer-dark--wrapper">
        <div class="footer-left">
        J2D2 is Joe Driscoll
        </div>
        <div class="footer-right">
            <a href="https://github.com/j2d2development" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="http://codepen.io/joedriscoll79" target="_blank">
                <i class="fa fa-codepen" aria-hidden="true"></i>
            </a>
            <a href="https://j2d2development.wordpress.com/" target="_blank">
                <i class="fa fa-wordpress" aria-hidden="true"></i>
            </a>
            <a href="https://linkedin.com/in/josephcdriscoll" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</footer>
<div class="full-cover-bg-screen {{menuIsOpen ? 'bg-screen-show' : 'bg-screen-hide'}}" (click)="toggleMenu()"></div>
