:host {
    flex: 1;
}
.work-bg {
  background-image: url(https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?dpr=1.5&auto=format&crop=entropy&fit=crop&w=1500&h=770&q=80&cs=tinysrgb);
}
.featured {
  flex-direction: column;
  width: 40%;
  margin: 0;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 1px 3px 9px 0 #333;
}
.featured-col {
  width: 100%;
  box-shadow: 0 0 0 0 transparent;
  padding: 6px 12px 6px 12px;
  margin-bottom: 2.5em;
}
.case-details-wrapper {
  width: 55%;
}
.cases-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alter-header {
  min-height: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}


.featured-col h2 {
  font-weight: normal;
  text-align: left;
}

.featured-col h2 small {
  display: block;
  font-size: 0.65em;
}

.featured-col--text {
  font-size: 0.85em;
}