:host {
    flex: 1;
}
.work-bg {
  background-image: url('../../assets/img/keyboard-bg-sm.jpg');
}
.featured {
  transition: all 0.5s ease;
}
.featured-col {
  margin-bottom: 2.5em;

    h2 {
      margin-bottom: 0;

      small {
        display: block;
        font-size: 0.65em;
      }
    }
}
.case-details-wrapper {
  flex: 1;
}
.cases-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-col--text {
  font-size: 0.85em;
  opacity: 1;
  margin: 1.25em 0 1.75em 0;
}

.primary-color--link {
  margin-top: 0;
}