<h1 class="sub-screen-bg work-bg">
    <div class="screen-white-md {{alterHeader}}">
        <div id="header-two-text">
            Real world projects - Real world solutions
            <small class="subheader subheader-light">Examples of projects for live release</small>
        </div>
    </div>
</h1>


<div class="featured {{alterSidebar}}">
    <div class="featured-col">
        <div class="cases-header">
            <h2>
                Case Study 1
                <small>The MEAN Stack</small>
            </h2>
            <div class="primary-color--link--wrapper">
                <a class="primary-color--link" routerLink="one" routerLinkActive="active-button-primary" (click)="updateUI()">Learn More</a>
                <a routerLink="/cases" (click)="updateUI(true)">Revert</a>
            </div>
        </div>
        <div class="featured-col--text {{hideDetails}}">
            I was assigned the task to create a backend for an internal marketing site with an Angular frontend. Given the freedom to pick the backend, I went with NodeJS and MongoDB.
        </div>
    </div>

    <div class="featured-col">
        <div class="cases-header">
            <h2>
                Case Study 2
                <small>Javascript | jQuery</small>
            </h2>
            <div class="primary-color--link--wrapper">
                <a class="primary-color--link" routerLink="two" routerLinkActive="active-button-primary" (click)="updateUI()">Learn More</a>
                <a routerLink="/cases" (click)="updateUI(true)">Revert</a>
            </div>
        </div>
        <div class="featured-col--text {{hideDetails}}">
            The online forms feature needed a refresh. The system was a bit outdated, so I went with a simple approch: jQuery to show real-time validation and ajax to submit the form.
        </div>
    </div>

    <div class="featured-col">
        <div class="cases-header">
            <h2>
                Case Study 3
                <small>Python / Django</small>
            </h2>
            <div class="primary-color--link--wrapper">
                <a class="primary-color--link" routerLink="three" routerLinkActive="active-button-primary" (click)="updateUI()">Learn More</a>
                <a routerLink="/cases" (click)="updateUI(true)">Revert</a>
            </div>
        </div>
        <div class="featured-col--text {{hideDetails}}">
            The website was to be built in Angular 1.5 with a Python/Django backend. I got to work on both- helping with the routing and multiple modules on the front end, and creating the back end structure.
        </div>
    </div>
</div>

<div class="case-details-wrapper">
    <router-outlet></router-outlet>
</div>