$primary-color: #156cbe;
$primary-color-accent: #333;
$comp-color: #be6715;
$light-blue: #ACCFCC;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/*GRID SYSTEM:
  experiment with css-grid.  if works, move to main style and make responsive
  UPDATE: doesn't really work in ie/edge, removing for now
*/
// .container {
//     margin: 0px auto;
//     padding: 0 1em 0 1em;
// }
// .about-p {
//   margin-bottom: 2em;
// }

// .row {
//     display: -ms-grid;
//     display: grid;
//     -ms-grid-columns: repeat(12, 1fr);
//     grid-template-columns: repeat(12, 1fr);
//     grid-gap: 16px;
// }

// .col-xs-12 {
//     grid-column: span 12;
// }
// .col-sm-3 {
//     grid-column: span 3;
// }
// .col-sm-4 {
//     grid-column: span 4;
// }
// .col-sm-5 {
//     grid-column: span 5;
// }
// .col-sm-6 {
//     grid-column: span 6;
// }
// .col-sm-7 {
//     grid-column: span 7;
// }
// .col-sm-8 {
//     grid-column: span 8;
// }
// .col-sm-9 {
//     grid-column: span 9;
// }
// .col-sm-12 {
//     grid-column: span 12;
// }

.img-flow {
    padding: 16px;
    margin: 0 1em 0 1em;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-flow-lg {
  width: 95%;
}
.caption {
    font-size: 0.75em;
    font-style: italic;
    margin-top: 12px;
}

.header-sticky {
  z-index: 9990;
  width: 100%;
  font-size: 1.25em;
  padding: 16px 0 16px 0;
  color: $primary-color;
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 6px #333;
  transition: all 0.3s linear;
}
.header {
  z-index: 9990;
  width: 100%;
  padding: 16px 0 16px 0;
  color: #eee;
  background-color: #333;
  box-shadow: 0 0 6px #333;
}

.header-sticky--shrink {
  font-size: 0.75em;
  padding: 4px 0 4px 0;
}

.header-sticky--wrapper {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--wrapper {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: inherit;
    padding: 0 3px 3px 3px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s ease;
  }
  a:hover {
    border-bottom: 1px solid #eee;
  }

  ul {
    margin: 0;
  }

  li {
    list-style-type: none;
    display: inline-block;
    padding: 0 6px 2px 6px;
    margin-left: 9px;
  }
}

.header-sticky--wrapper a {
  text-decoration: none;
  color: inherit;
  padding: 0 3px 0 3px;
}

.logo-left {
  font-size: 1.5em;
}

.header-sticky ul {
  margin: 0;
}

.header-sticky li {
  list-style-type: none;
  display: inline-block;
  padding: 0 6px 2px 6px;
  margin-left: 9px;
  border-bottom: 1px solid #eee;
  transition: border-bottom 0.5s ease;
}

.header-sticky li:hover {
  border-bottom: 1px solid #333;
}

.bg-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url('./assets/img/computer-bg-sm.jpg');
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.screen-white-lg {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.4);
  font-weight: normal;
  color: #eee;
  text-align: center;
}

h1 {
  font-weight: normal;
  margin: 0;
}

#header-two-text {
  width: 100%;
  overflow: hidden;
}

.hidden-scale {
  transform: scale(0);
}


.sub-screen-bg {
  margin: 0;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.screen-white-md {
  height: 100%;
  padding: 60px 16px 60px 16px;
  min-height: 300px;
  background-color: rgba(0, 0, 255, 0.5);
  //box-shadow: 0 0 6px #000;
  font-weight: normal;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.featured {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  padding: 3px 0 3px 0;
  margin: 3em 0 3em 0;
}

.featured-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  background-color: #f0f8ff;
  box-shadow: 5px 10px 6px -6px #777;
  padding: 6px 12px 6px 12px;
  transition: transform 0.5s ease-in-out;
}

.featured-col--left {
  transform: translateX(-110%);
}

.featured-col--center {
  transform: scale(0);
}

.featured-col--right {
  transform: translateX(110%);
}

.featured-col h2 {
  font-weight: normal;
  text-align: center;
}

.featured-col h2 small {
  display: block;
  font-size: 0.65em;
}

.featured-col--text {
  font-size: 0.85em;
  flex: 1;
}

.footer-dark {
  background-color: #333;
  color: #eee;
  width: 100%;
  font-size: 1.25em;
  padding: 1em 0 1em 0px;
}

.footer-dark--wrapper {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  padding-bottom: 6px;
}

.footer-right {
  text-align: right;
}

.footer-right i {
  color: #eee;
  font-size: 1.5em;
  padding: 0 9px 6px 9px;
  transition: color 0.2s ease;
}
.fa-github:hover {
  color: #6cc644;
}
.fa-codepen:hover {
  color: #76daff;
}
.fa-wordpress:hover {
  color: #21759b;
}
.fa-linkedin:hover {
  color: #0077b5;
}

.footer-right a {
  text-decoration: none;
  color: inherit;
}


/*Utility classes*/

hr {
  width: 30%;
}

.error-msg {
  position: absolute;
  bottom: 0;
  right: 5%;
  color: $comp-color;
  padding: 3px;
  font-size: 0.85em;
}
.error-field {
  border-color: $comp-color;
}

.subheader {
  display: block;
  font-size: 0.55em;
  color: $primary-color;
}

.subheader-light {
  color: #d0e1f2;
}

.primary-color--link--wrapper {
  text-align: center;
}

.primary-color--link {
  display: inline-block;
  text-decoration: none;
  margin: 16px auto;
  padding: 6px;
  text-align: center;
  color: $primary-color;
  border: 1px solid $primary-color;
  transition: all 0.3s ease;
}

.primary-color--link:hover {
  background-color: $primary-color;
  color: #eee;
}

.reversed-color--link--wrapper {
  text-align: center;
}

.reversed-color--link {
  display: inline-block;
  text-decoration: none;
  margin: 16px auto;
  padding: 6px;
  text-align: center;
  color: #eee;
  border: 1px solid #eee;
  transition: all 0.3s ease;
}

.reversed-color--link:hover {
  background-color: #eee;
  color: $primary-color;
}

.warning-color--link {
  display: inline-block;
  text-decoration: none;
  margin: 16px auto;
  padding: 6px;
  text-align: center;
  color: $comp-color;
  border: 1px solid $comp-color;
  transition: all 0.3s ease;
}

.warning-color--link:hover {
  background-color: $comp-color;
  color: #eee;
}

#header-one {
  position: relative;
  overflow-x: hidden;
}

.mobile-show {
  display: none;
}

.mobile-menu-wrapper {
  display: none;
}

.muted {
    font-size: 0.8em;
    font-style: italic;
}
.text-left {
    text-align: left;
}
.active-button-primary {
  background-color: #333;
}
code {
  background-color: #333;
  color: palegoldenrod;
  padding: 1em;
  border-radius: 5px;
  overflow-x: auto;
}
.full-cover-bg-screen {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
}
.bg-screen-show {
  transform: translateX(0);
}
.bg-screen-hide {
  transform: translateX(-100%);
}


// SIMPLE GRID - SASS/SCSS (modified for grid only)
// utility
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.justify {
  text-align: justify;
}
.hidden-sm {
  display: none;
}

// grid (modified version of http://simplegrid.io/ - very cool, very basic grid supported by many browsers)
$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

.container {
  // width: 90%;
  // margin-left: auto;
  // margin-right: auto;

  // @media only screen and (min-width: $breakpoint-small) {
  //   width: 80%;
  // }

  // @media only screen and (min-width: $breakpoint-large) {
  //   width: 75%;
  //   max-width: 60rem;
  // }
}

.row {
  position: relative;
  width: 100%;
  margin-bottom: 1em;
}

.row:last-child {
  margin-bottom: 3em;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: $width;
}

.col-1-sm { width:($width / 12) - ($gutter * 11 / 12); }
.col-2-sm { width: ($width / 6) - ($gutter * 10 / 12); }
.col-3-sm { width: ($width / 4) - ($gutter * 9 / 12); }
.col-4-sm { width: ($width / 3) - ($gutter * 8 / 12); }
.col-5-sm { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
.col-6-sm { width: ($width / 2) - ($gutter * 6 / 12); }
.col-7-sm { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
.col-8-sm { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
.col-9-sm { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
.col-10-sm { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
.col-11-sm { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
.col-12-sm { width: $width; }

@media only screen and (min-width: $breakpoint-med) {
  .col-1 { width:($width / 12) - ($gutter * 11 / 12); }
  .col-2 { width: ($width / 6) - ($gutter * 10 / 12); }
  .col-3 { width: ($width / 4) - ($gutter * 9 / 12); }
  .col-4 { width: ($width / 3) - ($gutter * 8 / 12); }
  .col-5 { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
  .col-6 { width: ($width / 2) - ($gutter * 6 / 12); }
  .col-7 { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
  .col-8 { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
  .col-9 { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
  .col-10 { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
  .col-11 { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
  .col-12 { width: $width; }

  .hidden-sm {
    display: block;
  }
}



/*phones*/
// @media (max-width: 34em) {
//   .mobile-menu-wrapper {
//     display: flex;
//     position: relative;
//     overflow: hidden;
//   }
//   .mobile-hide {
//     display: none;
//   }
//   .mobile-show-block {
//     display: block;
//   }
//   .mobile-show-flex {
//     display: flex;
//   }
//   .mobile-menu {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     width: 33%;
//     min-width: 200px;
//     min-height: 100%;
//     background-color: $light-blue;
//     padding: 0;
//     transition: transform 0.3s ease;
//   }
//   .mobile-menu-hide {
//     transform: translateX(100%);
//   }
//   .mobile-menu-show {
//     transform: translateX(0);
//   }
//   .mobile-menu a {
//     margin: 0;
//   }
//   .mobile-menu li {
//     display: block;
//     margin: 6px 0 0 0;
//   }
//   #mobile-show {
//     z-index: 9999;
//   }
//   h1 {
//     font-size: 1.5em;
//   }
//   .screen-white-lg {
//     font-size: 2.5em;
//     background-color: rgba(0, 0, 255, 0.5);
//   }
//   .featured {
//     display: block;
//   }
//   .featured-col {
//     width: 100%;
//     border-bottom: 1px solid #ccc;
//     margin-bottom: 15px;
//     box-shadow: none;
//   }
//   .img-flow {
//     margin: 0 0 0 0;
//   }
//   .img-flow-lg {
//     width: 100%;
//   }
//   .contact {
//     display: block;
//   }
//   .contact-text {
//     width: 100%;
//     margin-bottom: 32px;
//   }
//   .contact-form {
//     width: 100%;
//   }
//   .footer-dark--wrapper {
//     display: block;
//     text-align: center;
//   }
//   .footer-right {
//     text-align: center;
//     margin: 16px 0 16px 0;
//   }
// }

/*medium width - tablets*/
@media (max-width: 48em) {
  .mobile-menu-wrapper {
    display: flex;
    position: relative;
    text-align: right;
  }
  .mobile-hide {
    display: none;
  }
  .mobile-show-block {
    display: block;
  }
  .mobile-show-flex {
    display: flex;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 35%;
    min-width: 200px;
    min-height: 100%;
    background-color: $light-blue;
    color: $primary-color-accent;
    padding: 0;
    transition: transform 0.3s ease;
  }
  .mobile-menu-hide {
    transform: translateX(100%);
  }
  .mobile-menu-show {
    transform: translateX(0);
  }
  .mobile-menu a {
    margin: 0;
    display: block;
    width: 100%;
  }
  .mobile-menu li {
    display: block;
    margin: 1em 0 0 0;
  }
  #mobile-show {
    z-index: 9999;
  }
  h1 {
    font-size: 1.5em;
  }
  .screen-white-lg {
    font-size: 2.5em;
    background-color: rgba(0, 0, 255, 0.5);
  }
  .featured {
    display: block;
  }
  .featured-col {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    box-shadow: none;
  }
  .img-flow {
    margin: 0 0 0 0;
  }
  .img-flow-lg {
    width: 100%;
  }
  .contact {
    display: block;
  }
  .contact-text {
    width: 100%;
    margin-bottom: 32px;
  }
  .contact-form {
    width: 100%;
  }
  .footer-dark--wrapper {
    display: block;
    text-align: center;
  }
  .footer-right {
    text-align: center;
    margin: 6px 0 6px 0;
  }

  /*grid system experimenting
    for testing- at this width, just have it display as one column
    -this doesn't seem to work at all in Edge/IE, even with vendor prefixing.
    scrapping for now in favor of traditional float grid system.
  */
  // .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
  // .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  //     grid-column: span 12;
  // }
}