:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.hero-left {
    width: 45%;
    min-height: 200px;
    position: relative;

    i {
        font-size: 3em;
        margin: 0 6px 0 6px;
    }

    .text-wrapper {
        padding: 2em;
        background-color: rgba(0,0,0,0.4);
        border-radius: 5px;
        position: absolute;
        top: 0;
    }
}

.hero-right {
    font-size: 3.5em;

    small {
        display: block;
        font-size: 0.5em;
    }

    .lang-button {
        display: inline-block;
        margin: 3px 3px;
        cursor: pointer;
        padding: 6px 12px;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.4);
    }
    span:hover {
        background-color: rgba(0,0,0,0.8);
    }
}

@media (max-width:800px) {
    .hero-left {
        display: none;
    }

    .hero-right {
        font-size: 1.25em;
    }
}