:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.home-bg {
    position: fixed;
    top: 0;
    // left: -250%;
    // width: 500%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #2da9d7, #212a3e);
    //animation: 10s linear infinite alternate home-bg-animation;
}

@keyframes home-bg-animation {
    0%, 10% {
        transform: translateX(0);
    }
    90%, 100% {
        transform: translateX(50%);
    }
}

.hero-left {
    width: 45%;
    min-height: 200px;
    position: relative;

    i {
        font-size: 3em;
        margin: 0 6px 0 6px;
    }

    .text-wrapper {
        padding: 2em;
        background-color: rgba(0,0,0,0.4);
        border-radius: 5px;
        position: absolute;
        top: 0;
    }
}

.hero-right {
    font-size: 3.5em;

    small {
        display: block;
        font-size: 0.5em;
    }

    .lang-button {
        display: inline-block;
        margin: 3px 3px;
        cursor: pointer;
        padding: 6px 12px;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.4);
    }
    span:hover {
        background-color: rgba(0,0,0,0.8);
    }
}

@media (max-width: 48em) {
    .hero-left {
        display: none;
    }

    .hero-right {
        font-size: 1em;
    }
}